:root {
	/* 主色调 */
	--c-brand: #498fb6;
	--c-brand-light: #498fb6;
	/* 底部栏色调 */
	/* --color-border: #4dd0e1; */
	/* 引用字体色 */
	/* --color-block: #4dd0e1; */
	/* 加粗色调 */
	/* --color-strong: #26c6da; */
	/* 代码样式 */
	/* --color-code: #26c6da; */
	/* 引用边框色 */
	/* --color-border-left: #26c6da; */

	/* 代码背景色 */
	/* --color-code-bg: rgba(77, 208, 225, .08); */
	/* 引用背景色 */
	/* --color-block-bg: rgba(77, 208, 225, .15); */
}
.page .container {
	max-width: 96rem;
}

#main-title {
	/* color: #646cff; */
	color: #498fb6;
}


.home-features .title {
	color: #498fb6;
}
